EXPO_PUBLIC_API_URL=  # ganti dengan URL backend yang sesuai, misal http://api.laundryku.com
EXPO_PUBLIC_USE_DUMMY_PAYMENT= # kalau mau pake dummy payment, ganti jadi true, kalau mau pake payment gateway asli, ganti jadi false dan isi variabel yang diperlukan untuk payment gateway tersebut (misal: EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY untuk Stripe)
EXPO_PUBLIC_ALLOW_MANUAL_COORDS= # kalau mau izinkan user input koordinat manual, ganti jadi true, kalau mau pakai geolocation otomatis, ganti jadi false