EXPO_PUBLIC_API_URL= http://localhost:3000 # ganti dengan URL backend yang sesuai, misal http://api.laundryku.com
EXPO_PUBLIC_USE_DUMMY_PAYMENT=true # kalau mau pake dummy payment, ganti jadi true, kalau mau pake payment gateway asli, ganti jadi false dan isi variabel yang diperlukan untuk payment gateway tersebut (misal: EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY untuk Stripe)
